<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<% if alert.present? %>
  <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="error">
    <%= alert %>
  </p>
<% end %>

<h1 class="font-bold text-2xl">Task List</h1>

<div id="tasks" data-controller="tasks">
  <div class="px-5">
    <%= render @tasks %>
  </div>
</div>

<div class="mt-4">
  <%= render "form", task: @task %>
</div>
