name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Precompile assets
        run: bin/rails assets:precompile

      - name: Run RuboCop
        run: bundle exec rubocop --parallel --format simple

      - name: Prepare DB
        run: |
          bin/rails db:create db:migrate db:schema:dump

      - name: Run RSpec
        run: bundle exec rspec --format documentation
